body {
  background-color: #f0f0f0;
}

.menu {
  width: 95vw;
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp {
  bottom: 0;
  left: 0;
  --radius: 200px; 
  --border: 20;
  --color: #b00e0e;
  --percent: 90;
}

.hunger {
  bottom: 180px;
  left: 150px;
  --radius: 50px; 
  --border: 5;
  --color: #dfbf0d;
  --percent: 87;
}

.temperature {
  bottom: 140px;
  left: 190px;
  --radius: 50px; 
  --border: 5;
  --color: #e86107;
  --percent: 20;
}

.percent {
  position: absolute;
  // make --size always declared - no need for default value everywhere
  $size: var(--radius, 150px);
  width: $size;
  height: $size;

  svg {
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(-90deg);

    circle {
      // position of the circle centre
      $centre: calc($size / 2);
      // width of the percent indicator
      --width: var(--border, 10);
      // radius of the circle
      $rad: calc($centre - var(--width) * 1px);
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #d1d1d1;
      stroke-width: var(--width);
      stroke-linecap: round;
      cx: $centre;
      cy: $centre;
      r: $rad;

      &:last-of-type {
        // length of the stroke - 2 * pi * r
        --sda: calc(#{$rad} * 3.14153 * 2);
        stroke-dasharray: var(--sda);
        stroke-dashoffset: calc(var(--sda) * (100 -  var(--percent)) / 100);
        stroke: var(--color, #3498db); 
      }
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h3 {
      font-weight: 200;
      font-size: calc($size * 0.28);

      span {
        font-size: calc($size * 0.16);
      }
    }    
  }
}

.building-menu {
  width: 50%;
  border: solid #a503fc 2px;
  border-radius: 3px;
  padding: 40px;
  padding-top: 20px;
  background-color: #f5f3f3;
}
.title {
  position: relative;

  > p {
    width: max-content;
    margin-inline: auto;
    padding-bottom: 10px;
  }
  &::before, &::after {
    content: "";
    background-color: #000000;
    border-radius: 100vh;
    position: absolute;
    width: 5px;
    height: 40px;
    top: -20px;
    right: -5px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}


.building-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-auto-flow: row dense;
  gap: 2em;

  .item {
    height: 40px;
    border: solid #a503fc 2px;
    border-radius: 3px;
    background-color: #d1d1d1;

    &:nth-of-type(5n+7) {
      grid-column: span 2;
    }

    &:nth-of-type(7n+2) {
      grid-column: span 2;
    }
  }
}